<mat-card class="delete-block-action">
    <mat-icon>block</mat-icon>
    <mat-icon>delete</mat-icon>
</mat-card>
<mat-card class="main-card">
    <mat-card class="card-container">
        <mat-card class="card">
            <mat-card-content><img matCardImage
                    src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="">
            </mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Client Id</mat-card-subtitle>
                <mat-card-subtitle>Client 1234</mat-card-subtitle>
                <mat-card-subtitle>Email</mat-card-subtitle>
                <mat-card-subtitle>Arp.d@pm.me</mat-card-subtitle>
                <mat-card-subtitle>Postal Code</mat-card-subtitle>
                <mat-card-subtitle>208017</mat-card-subtitle>
                <mat-card-subtitle>Address</mat-card-subtitle>
                <mat-card-subtitle>Awas Vikas No-1 Kalyanpur , Kanpur</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card class="card right">
            <mat-card-content></mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Full Name</mat-card-subtitle>
                <mat-card-subtitle>Arpit Dwivedi</mat-card-subtitle>
                <mat-card-subtitle>Mobile Number</mat-card-subtitle>
                <mat-card-subtitle>+91-7071520965</mat-card-subtitle>
                <mat-card-subtitle>Status</mat-card-subtitle>
                <mat-card-subtitle>Active</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-card>

    <mat-card class="card-container">
        <mat-card class="card">
            <mat-card-content>
                <mat-card-title>
                    Spouse Detail
                </mat-card-title>
            </mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Full Name</mat-card-subtitle>
                <mat-card-subtitle>Arpit Dwivedi</mat-card-subtitle>
                <mat-card-subtitle>Email</mat-card-subtitle>
                <mat-card-subtitle>Arp.d@pm.me</mat-card-subtitle>

            </mat-card-content>
        </mat-card>
        <mat-card class="card right">
            <mat-card-content></mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Mobile Number</mat-card-subtitle>
                <mat-card-subtitle>+91-7071520965</mat-card-subtitle>
                <mat-card-subtitle>Address</mat-card-subtitle>
                <mat-card-subtitle>Awas Vikas No-1 Kalyanpur , Kanpur</mat-card-subtitle>
                <mat-card-subtitle>Postal Code</mat-card-subtitle>
                <mat-card-subtitle>208017</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-card>
</mat-card>

<mat-card class="at-call">
    <mat-card>
        <mat-card-title>Attended Call #1?</mat-card-title>
        <mat-card-content>
            <mat-radio-group>
                <mat-radio-button>YES</mat-radio-button>
                <mat-radio-button>NO</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <mat-card-title>
                SSN Number <mat-icon>edit</mat-icon>
            </mat-card-title>
            <mat-card class="ssn-form-field">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <app-common-button [text]="'Save'" [buttonClass]="'save-button'"></app-common-button>
                </mat-card-actions>
            </mat-card>
        </mat-card-title>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>Attended Credit Counseling Session?</mat-card-title>
    <mat-card-content>
        <mat-radio-group>
            <mat-radio-button>YES</mat-radio-button>
            <mat-radio-button>NO</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
</mat-card>
<mat-card class="report-review">
    <mat-card>
        <mat-card-title>
            Credit Report Reviewed with Paralegal / Attorney ?
        </mat-card-title>
        <mat-card-content>
            <mat-radio-group>
                <mat-radio-button>YES</mat-radio-button>
                <mat-radio-button>NO</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Case Status
        </mat-card-title>
        <mat-card-content>
            <mat-radio-group>
                <mat-radio-button>YES</mat-radio-button>
                <mat-radio-button>NO</mat-radio-button>
                <mat-radio-button>NO</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>
        Credit Report
    </mat-card-title>
    <mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>
        Payment Type
    </mat-card-title>
    <mat-card-content>
        <mat-radio-group>
            <mat-radio-button>YES</mat-radio-button>
            <mat-radio-button>NO</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
</mat-card>
<mat-card class="payment-mode">
    <mat-card>
        <mat-card-subtitle>
            Paid Amount
        </mat-card-subtitle>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>
            Pending Amount
        </mat-card-subtitle>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-actions>
            <app-common-button [text]="'Save'" [buttonClass]="'save-button'"></app-common-button>
        </mat-card-actions>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>
        BCI Files
    </mat-card-title>
    <mat-card class="upload-container">
        <mat-card></mat-card>
        <mat-card></mat-card>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>
        Upload resource For the Client
    </mat-card-title>
    <mat-card class="upload-container">
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>
        Upload resource by the Client
    </mat-card-title>
    <mat-card class="upload-container">
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card class="table-card">
        <mat-card-title>
        <app-common-table [tableColumns]="tableColumns" [tableData]="tableData"></app-common-table>
        </mat-card-title>
    </mat-card>
</mat-card>