@use "../../../../scss/global";

mat-error {
  font-size: 1.5em;
  color: #ff577f;
}
.main-container {
  .reset-password-container {
    mat-card {
      @include global.mat-card-reset;
      padding: 0 15% 0 15%;
      background-color: global.$Arsenic;
      .title {
        margin-top: 30px;
        margin-bottom: 15px;
        line-height: 3em;
        mat-card-title {
          font-family: system-ui;
          font-size: 2.5em;
          color: global.$Bright_Gray;
        }
      }
      .sub-title {
        margin-bottom: 40px;
        mat-card-subtitle {
          font-family: system-ui;
          font-size: large;
          color: global.$Tiffany_Blue;
        }
      }
      .content {
        mat-card-content {
          @include global.mat-form-field-outline;
          @include global.mat-form-field-label;
          display: grid;
          grid-template-rows: auto auto;
          gap: 55px;
          .fields {
            mat-form-field {
              @include global.mat-form-field-label;
              color: global.$Bright_Gray;
            }
          }
        }
        .material-icons {
          color: global.$Bright_Gray !important;
        }
      }
    }
    .warning {
      @include global.flex_position(center, center, row);
      height: 20;
      position: relative;
      small {
        position: absolute;
        @include global.flex_position(center, center, row);
        font-size: 1em;
        color: red;
        mat-icon {
          height: 30px;
          width: 30px;
          margin-right: 10px;
          font-size: 30px;
        }
      }
    }
    .actions {
      margin-top: 30px;
      mat-card-actions {
        height: auto;
      }
    }
  }
}
