<section class="main-container">
    <div class="reset-password-container">
        <form [formGroup]="resetForm">
            <mat-card>
                <div class="title">
                    <mat-card-title>Reset Password</mat-card-title>
                </div>
                <div class="sub-title">
                    <mat-card-subtitle>Set the new password for your account so you can login and access all the
                        features.
                    </mat-card-subtitle>
                </div>
                <div class="content">
                    <mat-card-content class="fields">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Password</mat-label>
                            <input [type]="hidePass ? 'password':'text'" matInput type="text" name="" id=""
                                formControlName="password">
                            <i class="material-icons" matSuffix (click)="hidePass = !hidePass">
                                {{hidePass?'visibility':'visibility_off'}}
                            </i>
                            <mat-error>
                                password should of 8 and a maximum of 15 characters with at least 1 uppercase, 1 lowercase alphabet, 1 number, and 1 special character.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input [type]="hideConPass ? 'password':'text'" matInput type="text" >
                            <i class="material-icons" matSuffix (click)="hideConPass  = !hideConPass ">
                                {{hideConPass ?'visibility':'visibility_off'}}
                            </i>
                        </mat-form-field>
                    </mat-card-content>
                </div>
                <div class='warning'>
                    <small
                        *ngIf="(resetForm.controls['password'].value == ( null || '' ) && resetForm.get('password')?.touched) || (resetForm.controls['password'].value == ( null || '' ) && resetForm.get('password')?.touched)">
                        <mat-icon>warning</mat-icon>
                        Please fill the required field.
                    </small>
                </div>
                <div class="actions">
                    <mat-card-actions>
                        <app-common-button [text]="'Set new password'" [buttonClass]="'common-button'">
                        </app-common-button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </div>
</section>