@use "../../../../../scss/global";

mat-card {
  border-radius: 0;
  box-shadow: none !important;
  mat-card-subtitle {
    color: global.$Blueberry;
  }
  ::ng-deep.mat-divider-vertical {
    height: calc(100%);
    width: 0px !important;
    position: inherit !important;
  }
  mat-form-field {
    ::placeholder {
      color: global.$Blueberry;
    }
    ::ng-deep .mat-form-field-outline {
      color: global.$Blueberry !important;
      //opacity: 1!important;
    }
    ::ng-deep .mat-form-field-outline-start {
      border-radius: 0 !important;
    }
    ::ng-deep .mat-form-field-outline-end {
      border-radius: 0 !important;
    }
  }
}
.container {
  border: 1px solid global.$Blueberry;
  mat-card {
    display: grid;
    grid-template-columns: auto 5px auto;
    gap: 10px;

    .card {
      display: grid;
      grid-template-columns: auto;
      mat-form-field {
        width: 100%;
      }
    }
  }
  mat-card-actions {
    text-align: center;
  }
}
/* mat-card {
  @include global.mat-card-reset;
  border: 1px solid global.$Blueberry;
  padding: 20px;
  mat-card-content {
    display: grid;
    grid-template-columns: 45% auto 45%;
    justify-content: center;
    justify-content: space-around;
    .line {
      width: 1px;
      background-color: grey;
    }
    .column {
      .field {
        display: flex;
        flex-direction: column;
        mat-form-field {
          width: 100%;
        }
        label {
          color: global.$Blueberry;
        }
      }
    }
  }
  mat-card-actions {
    text-align: center;
  }
}
 */
