@use "../../../../scss/global";

mat-error {
  font-size: 1.5em;
  color: #ff577f;
}
.main-container {
  .forgot-password-container {
    mat-card {
      background: global.$Arsenic;
      @include global.mat-card-reset;
      padding: 0 15% 0 15%;
      .title {
        margin-bottom: 25px;
        line-height: 3em;
        mat-card-title {
          font-family: system-ui;
          font-size: 2.5em;
          color: global.$Bright_Gray;
        }
      }
      .sub-title {
        margin-bottom: 40px;
        mat-card-subtitle {
          font-family: system-ui;
          font-size: 2em;
          line-height: 1.3em;
          color: global.$Tiffany_Blue;
        }
      }
      .content {
        .field-container{
          @include global.mat-form-field-outline;
          display: grid;
          grid-template-rows: auto;
          gap: 40px;
          mat-form-field {
            color: global.$Bright_Gray;

            ::-webkit-input-placeholder {
              /* Edge */
              color: global.$Bright_Gray;
            }

            :-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: global.$Bright_Gray;
            }

            ::placeholder {
              color: global.$Bright_Gray;
            }
          }
        }
        .warning {
          @include global.flex_position(center, center, row);
          height: 20;
          position: relative;
          small {
            position: absolute;
            @include global.flex_position(center, center, row);
            font-size: 1em;
            color: red;
            mat-icon {
              height: 30px;
              width: 30px;
              margin-right: 10px;
              font-size: 30px;
            }
          }
        }
        .actions {
          margin-top: 50px;
        }
      }
    }
  }
}
