<section class="main-container" *ngIf="sendLink == false">
    <div class="forgot-password-container">
        <form [formGroup]="forgotForm">
            <mat-card>
                <div class="title">
                    <mat-card-title>Forgot your Password ?</mat-card-title>
                </div>
                <div class="sub-title">
                    <mat-card-subtitle>we'll help you reset it and get back on track</mat-card-subtitle>
                </div>
                <div class="content">
                    <mat-card-content class="field-container">
                        <mat-form-field appearance="outline" >
                            <!-- <mat-label>Email address</mat-label> -->
                            <input matInput type="text" formControlName="email" placeholder="Email address">
                        </mat-form-field>
                    </mat-card-content>
                    <div class='warning'>
                        <small
                            *ngIf="forgotForm.invalid && forgotForm.touched">
                            <mat-icon>warning</mat-icon>
                            {{forgotForm | getControl:['email'] | validate : "email address" | titlecase}}
                        </small>
                    </div>
                    <div class="actions">
                        <mat-card-actions>
                            <div class="button-submit">
                                <app-common-button [text]="'Reset Password'" [disabledButton]="forgotForm.invalid"
                                    [buttonClass]="'common-button'" (onClick)="submitHandler()"></app-common-button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</section>
<section *ngIf="sendLink == true">
    <app-link-send-success></app-link-send-success>
</section>