@use "../../../../scss/global";

mat-tab-group {
  mat-tab {
    color: global.$Blueberry;
  }
}
::ng-deep.mat-tab-labels {
  justify-content: space-around;
}
::ng-deep.mat-tab-label .mat-tab-label-content {
  font-size: 1.5em;
  color: global.$Blueberry;
}
::ng-deep.mat-tab-header {
  border-bottom: 1px solid global.$Blueberry;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: global.$Blueberry;
}