<router-outlet></router-outlet>
<mat-card>
    <app-common-button (onClick)="addStaff()" [buttonClass]="'save-button'" text="Add New Staff"></app-common-button>
</mat-card>
<mat-card class="filter">
    <mat-card-content>
        <mat-form-field appearance="outline">
            <input matInput type="text" name="" id="">
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <button mat-raised-button [matMenuTriggerFor]="select">Select <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #select="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-card-content>
    <mat-card-content>
        <button mat-raised-button [matMenuTriggerFor]="show">Show <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #show="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card class="table-card">
        <mat-card-title>
            area for table
        </mat-card-title>
    </mat-card>
</mat-card>