<!-- <mat-card>
    <mat-card-title>Question</mat-card-title>
    <editor [init]="{
        height: 200,
        menubar: false,
        toolbar:
        '  bold italic underline 
        alignleft aligncenter alignright alignjustify '
    }"></editor>
</mat-card>
<mat-card>
    <mat-card-title>Answer</mat-card-title>
    <editor [init]="{
        height: 200,
        menubar: false,
        toolbar:
        '  bold italic underline 
        alignleft aligncenter alignright alignjustify '
    }"></editor>
</mat-card> -->