<mat-card class="container">
    <mat-card class="nav">
        <mat-card>
            <mat-card-title>Total Earning</mat-card-title>
            <mat-card-title>$120000000</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Current Month Payment</mat-card-title>
            <mat-card-title>$1200</mat-card-title>
        </mat-card>
    </mat-card>
    <mat-card class="filter-card">
        <mat-card class="search-filter">
            <mat-card class="search-box">
                <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Search Through Name , Client ID">
                </mat-form-field>
            </mat-card>
            <mat-card class="show-select">
                <mat-card-content>
                    <button mat-raised-button [matMenuTriggerFor]="show">Show <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #show="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </mat-card-content>
            </mat-card>
        </mat-card>
        <mat-card class="select-menu">
            <mat-card-content>
                <mat-card-subtitle>Sort By</mat-card-subtitle>
                <mat-card-content>
                    <button mat-raised-button [matMenuTriggerFor]="weekly">Weekly <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    <mat-menu #weekly="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </mat-card-content>
            </mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Sort By</mat-card-subtitle>
            <mat-card-content>
                <button mat-raised-button [matMenuTriggerFor]="select">Status<mat-icon>arrow_drop_down</mat-icon>
                    </button>
                <mat-menu #select="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </mat-card-content>
            </mat-card-content>
            <mat-icon class="export-icon">file_upload</mat-icon>
        </mat-card>
        <mat-card class="action-buttons">
            <mat-card-actions>
                <app-common-button [text]="'Apply'" [buttonClass]="'apply-button'"></app-common-button>
                <app-common-button [text]="'Reset'" [buttonClass]="'reset-button'"></app-common-button>
            </mat-card-actions>
        </mat-card>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card class="table-card">
        <mat-card-title>
            area for table
        </mat-card-title>
    </mat-card>
</mat-card>
<!-- <div class="main-container">
    <div class="container">
        <div class="payments">
            <mat-card>
                <mat-card-title>
                    Total Payments
                </mat-card-title>
                <mat-card-title>
                    $12000000
                </mat-card-title>
            </mat-card>
            <mat-card>
                <mat-card-title>
                    Current Month Payments
                </mat-card-title>
                <mat-card-title>
                    $140000
                </mat-card-title>
            </mat-card>
        </div>
        <mat-card class="filters">
            <div class="search-field">
                <mat-form-field appearance="outline">
                    <mat-label>Search through Name , Client Id</mat-label>
                    <input matInput type="text" name="" id="">
                </mat-form-field>
                <div class="show">
                    <button mat-raised-button [matMenuTriggerFor]="show">Show <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #show="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
            </div>
            <mat-icon class="export">
                file_upload
            </mat-icon>
            <div class="add-on">
                <div class="form">
                    <button mat-button [matMenuTriggerFor]="form">Form <mat-icon>arrow_drop_down</mat-icon></button>
                    <mat-menu #form="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
                <div class="to">
                    <button mat-button [matMenuTriggerFor]="to">To <mat-icon>arrow_drop_down</mat-icon></button>
                    <mat-menu #to="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
                <div class="select">
                    <button mat-button [matMenuTriggerFor]="select">Select <mat-icon>arrow_drop_down</mat-icon></button>
                    <mat-menu #select="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
            </div>
            <div class="actions">
                <mat-card-actions>
                    <app-common-button [text]="'Apply'" [buttonClass]="'apply-button'"></app-common-button>
                    <app-common-button [text]="'Reset'" [buttonClass]="'reset-button'"></app-common-button>
                </mat-card-actions>
            </div>
        </mat-card>

    </div>
</div> -->