<div class="forgot-password-container">
    <mat-card>
        <div class="title">
            <mat-card-title>Reset Link</mat-card-title>
        </div>
        <div class="sub-title">
            <mat-card-subtitle>
                An email has been sent to your registered email ID
                please follow the instructions to reset your
                password</mat-card-subtitle>
        </div>
        <div class="actions">
            <mat-card-actions>
                <app-common-button [text]="'Back to Login'" [buttonClass]="'common-button'" (onClick)="submitHandler()"></app-common-button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>